src/data
*.pyc
.idea
.pytest_cache
src/models/siamnet.py
.vscode/settings.json
*.out
renal-view
.vscode
config/ssl_model_eval/*
.cometml-runs
test_vlm.py
.envrc
.vscode/launch.json

*.png
*.csv
data
save_data