arch==6.1.0
colorama==0.4.6
opencv-python==4.8.0.74
efficientnet_pytorch==0.7.1
imageio==2.31.1
Jinja2>=3.1.4
kornia==0.6.12
lightly==1.4.14
matplotlib==3.7.2
pandas==2.0.3
lightning>=2.3.2
PyQt5==5.15.9
PyYAML==6.0.1
scikit_learn==1.3.0
scikit-image==0.21.0
scipy==1.11.1
seaborn==0.12.2
tabulate==0.9.0
torchmetrics==1.0.1
tqdm>=4.66.4
umap-learn==0.5.3
torch
torchvision
grad-cam>=1.5.2
comet_ml
pytables